@using Microsoft.AspNetCore.Components.Authorization
@using Horscht.Contracts.Services

@inject IAuthenticationService AuthenticationService

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOutAsync">Log out</button>
        <NavLink class="nav-link btn btn-link" href="/about">About</NavLink>
    </Authorized>
    <NotAuthorized>
        <button class="nav-link btn btn-link" @onclick="BeginLoginAsync">Log in</button>
    </NotAuthorized>
</AuthorizeView>

@code{

    public async Task BeginLoginAsync()
    {
        await AuthenticationService.LoginInteractiveAsync(CancellationToken.None);
    }

    public async Task BeginLogOutAsync()
    {
        await AuthenticationService.LogoutAsync(CancellationToken.None);
    }
}
